body {
    font-size:20px;;
  display: block;
  clear: both;
  font-family: Arial, sans-serif; 
  color: #043915;
}

#langBtn {
    float: right;
    padding: 10px 18px;
    background:#043915;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}
.section {
     margin-bottom: 20px;
     background: #fff;
     padding: 15px;
     border-radius: 8px;
     box-shadow: 0 2px 5px rgba(0,0,0,0.1);
     }
