body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: white;
    color: #043915;
}

.container {
    width: 90%;
    margin: auto;
    padding-top: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#toggleBtn {
    padding: 10px 18px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background:#043915;
    color: white;
}

.grid {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
}

.card {
    background: #ffffffaa;
    padding: 12px;
    border-radius: 10px;
    text-align: center;
    backdrop-filter: blur(10px);
}

.card img {
    width: 100%;
    height: 120px;
    border-radius: 10px;
    object-fit: cover;
}

.card h3 {
    margin-top: 10px;
    font-size: 18px;
}
#nextbtn{
position: fixed;
bottom: 20px;
right: 20px;
padding: 12px 22px;
background: #043915;
color: white;
border: none;
border-radius: 8px;
font-size: 16px;
cursor: pointer;
}
