body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background: #f2f2f2;
    color: #043915;
}

.lang-btn {
    float: right;
    padding: 10px 18px;
    background:#043915;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-top: 20px;
}

.center-row {
    grid-column: span 3;
    display: flex;
    justify-content: center;
}

.card {
    background: white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
}

.card img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 10px;
}

.center-card {
    width: 40%;
}

.next-btn {
    margin-top: 20px;
    padding: 10px 18px;
    background: #043915;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
}


