body {
      font-family: 'Poppins', sans-serif;
      background-image: url("https://img.freepik.com/free-vector/golden-yellow-wheat-field-summer-sky-background_1284-5445.jpg?semt=ais_hybrid&w=740&q=80");
      background-size: cover;
      background-position: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      color:#043915;
      text-align: center;
    }
    .card {
      background-color: #ffffffdd;
      padding: 20px 60px;
      margin: 10px;
      border-radius: 16px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.2);
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;
      transition: 0.3s;
      
    }
    .card:hover {
      transform: scale(1.05);
    }
    .lang-switch {
      position: absolute;
      top: 20px;
      right: 20px;
      background: #2E7D32;
      color: white;
      border: none;
      padding: 8px 14px;
      border-radius: 8px;
      cursor: pointer;
      font-size: 16px;
    }
    .crop-link{
      color: #043915;
      text-decoration: none;
    }