  body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #4caf50, #cddc39);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: #043915;
}
.calculator {
  background: #fff;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  width: 320px;
  text-align: left;
  position: relative;
  margin-top: 20px;
}

h2 {
  color: #043915;
  text-align: center;
  font-size: 20px;
}

label {
  font-weight: 600;
  display: block;
  margin-top: 10px;
}

input, select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

button {
  background:  #043915;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
  font-size: 15px;
  margin-top: 15px;
}

button:hover {
  background: #043915;
}
#langToggle {
  position: absolute;
      top: 20px;
      right: 20px;
      background: #043915;
      color: white;
      border: none;
      padding: 8px 14px;
      border-radius: 8px;
      cursor: pointer;
      font-size: 16px;
}

#result {
  margin-top: 15px;
  background: #f1f8e9;
  border-left: 4px solid  #043915;
  padding: 10px;
  border-radius: 8px;
  display: none;
  font-size: 14px;
}