 body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #8bc34a, #fff176);
    padding: 30px;
    color: #043915;
}

.container {
    max-width: 700px;
    margin: auto;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 35px;
    font-weight: 700;
    font-size:45px ;
}

.top-buttons {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background: white;
    font-size: 18px;
    cursor: pointer;
}

.row {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

label {
    font-size: 20px;
    font-weight: 600;
}

input {
    width: 60%;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 18px;
}

#totalBtn {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background: white;
    font-size: 22px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    color: #043915;
}

#result {
    margin-top: 25px;
    font-size: 26px;
    text-align: center;
    font-weight: bold;
}
#langBtn{
    background: #043915;
    color: white;
}

